@using SimpleCrm.Web.Controllers
@model SimpleCrm.Customer
@{
    ViewBag.Title = "Simple CRM | Details";
}

<h1>@Model.Id</h1>
<section>
    <ul>
        <li>@Model.Id</li>
        <li>@Model.FirstName</li>
        <li>@Model.LastName</li>
        <li>@Model.PhoneNumber</li>
    </ul>
    <p>@Html.ActionLink("🔙", nameof(HomeController.Index))</p>
</section>
