@model SimpleCrm.Web.Models.Home.HomePageViewModel
@{
    ViewBag.Title = "Customers";
}

<h1>Customers</h1>
<table>
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Customer Number</th>
            <th>Customer First Name</th>
            <th>Customer Last Name</th>
            <th>Customer Phone Number</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model.Customers)
        {
            <tr>
                <td><a href="/home/details/@customer.Id">Details</a></td>
                <td>@Html.ActionLink("View", "Details", new { id = customer.Id })</td>
                <td>@customer.Id</td>
                <td>@customer.FirstName</td>
                <td>@customer.LastName</td>
                <td>@customer.PhoneNumber</td>
            </tr>
        }
    </tbody>
</table>

@section footer {
    <p>@Model.CurrentMessage</p>
}
