@model aspnet_core_fundamentals_v3.Models.Home.HomePageViewModel

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Simple CRM</title>
  </head>
  <body>
      <h1>Customers</h1>
      <p>@Model.CurrentMessage</p>
      <table>
          <thead>
            <td>Customer Number</td>
            <td>Customer First Name</td>
            <td>Customer Last Name</td>
            <td>Customer Phone Number</td>
          </thead>
          <tbody>
            @foreach(var customer in Model.Customers)
            {
                <tr>
                    <td>@customer.Id</td>
                    <td>@customer.FirstName</td>
                    <td>@customer.LastName</td>
                    <td>@customer.PhoneNumber</td>
                </tr>
            }
          </tbody>
      </table>
  </body>
</html>